
.image_src{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.violationBlock{
    display: flex;
}

.violationType p{
    display: inline-block;
    background-color: #fff;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em, rgba(2, 8, 20, 0.08) 0px 0.085em 0.175em;
}
.CommentViolation{
    display: block;
    background-color: #fff;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;    
    min-width: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 110px;
    min-height: 110px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em, rgba(2, 8, 20, 0.08) 0px 0.085em 0.175em;
    margin-bottom: 16px;
}
.violationBlock h3{
    font-weight: bold;
    margin-right: 16px;
    min-width: 115px;
}
.btns button{
    margin-left:2em ;
}
.btns{
    display: flex;
    justify-content: flex-end;
}