

body {
  margin: 0;
  font-family: 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff!important;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans/OpenSans-Regular.ttf");
  src: url("./assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  src: url("./assets/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
}
  

::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;

}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #ffffff;

}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadada;

}

::-moz-scrollbar {
  width: 4px;
  background-color: #ffffff;
}

::-moz-scrollbar-track {
  border-radius: 8px;
  background-color: #ffffff;
}

::-moz-scrollbar-thumb {
  border-radius: 8px;
  background-color: #dadada;
}
